# Required Telegram bot credentials
TOKEN=
API_ID=39930006
API_HASH=0c1afd87f1a69d0e9a8b06b779480f51
DB_URL=
DB_URL2=
USER_STRING=
BOT_USERNAME=@AR_XBOT
BOT_NAME=𖤍 ˹ ᴀʀ ꭙ ʙᴏᴛ ˼
OWNER_ID=7169279112
AXIOM_OWNER_ID=7169279112
SUDO_USERS=7169279112
SUPPORT_USERS=
WHITELIST_USERS=
DEV_LIST=7169279112
LOG_GROUP_ID=-1003991995988
LOGS_CHANNEL=-1003991995988
SUPPORT_CHAT=@ARnetwork69X
SUPPORT_GROUP=@ARnetwork69X
UPDATE_CHANNEL=@antidote_69
IS_WEB_SUP=True
WEB_SERVER_BIND_ADDRESS=0.0.0.0
WEB_URL=
WEB_SLEEP=240
MULTI_CLIENT=False
PREFIX=True

# Optional feature API keys
ELEVENLABS_API_KEY=sk_b44b4767f9a664b11d85711409d35b520e9ecdb389a29803
IMAGE_UPLOAD_KEY=
HF_TOKEN=
GROQ_API_KEY=
GEMINI_API_KEY=
MONSTER_API_KEY=Bearer
REPLICATE_API_TOKEN=your_replicate_token
GIST_TOKEN=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
TELEGRAPH_TOKEN=80e1635aa3308ef9c583dac805436c1b5dc5995ce11d5fceb136650eb77f
